@model IEnumerable<ChallengeNetCore.Web.Models.PriceList>

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Lista de productos según presupuesto</h1>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pList in Model)
                {
                    <tr>
                        <td>@pList.Id</td>
                        <td>@pList.Date.ToShortDateString()</td>
                        <td>@pList.Product.Name</td>
                        <td>@pList.Product.Category.Name</td>
                        <td>$ @pList.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</body>
</html>
